body {
    background-color: #000000;
}

.bg-repeat-position-size {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.white-border {
    -webkit-filter: drop-shadow(1px 1px 0 white)
                    drop-shadow(-1px 1px 0 white)
                    drop-shadow(1px -1px 0 white)
                    drop-shadow(-1px -1px 0 white);

    filter: drop-shadow(1px 1px 0 white)
            drop-shadow(-1px 1px 0 white)
            drop-shadow(1px -1px 0 white)
            drop-shadow(-1px -1px 0 white);
}

/* For WebKit browsers (such as Chrome, Safari) */
/* Change the width and color of the scrollbar */
::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Color of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners of the thumb */
  }